html {
      height: 100%;
    }
body {
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
}

body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
  padding: 20px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
  font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
  text-align: center;
  width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}
body.disabled-onepage-scroll code {
  width: 95%;
  margin: 0 auto 25px;
  float: none;
  overflow: hidden;
}

body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main section .page_container {
  position: relative;
  top: 16%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

.page1{
	background-color: #103D63;
}

.page2{
	background-color: #81bd30;
}

.page3{
	background-color: #8D6F07;
}

.page4{
	background-color: #278B9D;
}

.page5{
	background-color: #8C7A09;
}

.page6{
	background-color: #550404;
}

.page7{
	background-color: #2A295E;
}


.ball{
	width: 200px;
	height: 133px;
}

.court{
	width: 948px;
	height: 445px;
}

