html {
      height: 100%;
    }
body {
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
}


.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main section .page_container {
  position: relative;
  margin: 0 auto 0;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}

.page1{
	background-color: #103D63;
  text-align: center;
}

.page2{
	background-color: #6A9B1E;
}

.page3{
	background-color: #8D6F07;
}

.page4{
	background-color: #278B9D;
}

.page5{
	background-color: #8C7A09;
}

.page6{
	background-color: #550404;
}

.page7{
	background-color: #2A295E;
}


.ball {
  position: fixed;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.ball > img{
  position: absolute;
  z-index: 999;
  width: 100px;
  height: 67px;
  bottom: 0px;
  -webkit-animation-name: bounce, spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: bounce, spin;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

/* WebKit and Opera browsers */

@-webkit-keyframes bounce {
  from, to  {
    bottom: 0;
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    bottom: 20%;
    -webkit-animation-timing-function: ease-in;
  }
}

@-webkit-keyframes spin {
  from {                                     }
  to   { -webkit-transform: rotateZ(360deg); }
}


/* all other browsers */    
@keyframes bounce {
  from, to  {
    bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 20%;
    animation-timing-function: ease-in;
  }
}

@keyframes spin {
  from {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ball > img:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
  }

.court{
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  position: relative;
}

.court > img{
  width: 80%;
  position: absolute;
  z-index: 1;
  margin-top:30%;
  left: 10%;
    -webkit-animation-name: spin_3d, fall_down;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;

    animation-name: spin_3d, fall_down;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 2s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spin_3d {
  from {
   -webkit-transform: rotateX(0deg);    
 }
  to {
   -webkit-transform: rotateX(80deg); 
 }
}

/* all other browsers */
@keyframes spin_3d {
  from {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -moz-transform: rotateX(80deg);
    -ms-transform: rotateX(80deg);
    transform: rotateX(80deg);
  }
}

/* WebKit and Opera browsers */
@-webkit-keyframes fall_down {
  from{
    margin-top: 10%;
    -webkit-animation-timing-function: ease-out;
  }
  to {
    margin-top: 30%;
  }
}


/* all other browsers */    
@keyframes fall_down {
  from{
    margin-top: 10%;
    animation-timing-function: ease-out;
  }
  to {
    margin-top: 30%;
  }
}



.player_1 > img{
  width: 20%;
  height: 40%;
  margin-top: 50%;
  margin-left: -40%;
  -webkit-animation-name: rush;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;

  animation-name: rush;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-delay: 2s;
}

/* WebKit and Opera browsers */
@-webkit-keyframes rush {
  from{
    margin-left: -40%;
    -webkit-animation-timing-function: ease-out;
  }
  to {
    margin-left: 80%;
  }
}


/* all other browsers */    
@keyframes rush {
  from{
    margin-left: -40%;
    animation-timing-function: ease-out;
  }
  to {
    margin-left: 80%;
  }
}

.player_2 > img{
  width: 36%;
  height: 40%;
  margin-top: 50%;
  margin-right: -40%;
  -webkit-animation-name: defense;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 4s;

  animation-name: defense;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-delay: 4s;
}

/* WebKit and Opera browsers */
@-webkit-keyframes defense {
  from{
    margin-right: -40%;
    -webkit-animation-timing-function: ease-out;
  }
  to {
    margin-right: 80%;
  }
}


/* all other browsers */    
@keyframes defense {
  from{
    margin-right: -40%;
    animation-timing-function: ease-out;
  }
  to {
    margin-right: 80%;
  }
}

.player_3 > img{
  width: 25%;
  height: 40%;
  margin-top: 43%;
  margin-left: -40%;
  -webkit-animation-name: kick;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 6s;

  animation-name: kick;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-delay: 6s;
}

/* WebKit and Opera browsers */
@-webkit-keyframes kick {
  from{
    margin-left: -40%;
    -webkit-animation-timing-function: ease-out;
  }
  to {
    margin-left: 75%;
  }
}


/* all other browsers */    
@keyframes kick {
  from{
    margin-left: -40%;
    animation-timing-function: ease-out;
  }
  to {
    margin-left: 75%;
  }
}

.win > img{
  width: 100%;
  margin-top: 60%;
  -webkit-animation-name: cheer;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 8s;

  animation-name: cheer;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-delay: 8s;
}

/* WebKit and Opera browsers */
@-webkit-keyframes cheer {
  from{
    margin-top: 60%;
    -webkit-animation-timing-function: ease-out;
  }
  to {
    margin-top: 10%;
  }
}


/* all other browsers */    
@keyframes cheer {
  from{
    margin-top: 60%;
    animation-timing-function: ease-out;
  }
  to {
    margin-top: 10%;
  }
}